.vscode/arduino.json
.vscode/c_cpp_properties.json
.idea/workspace.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/
/.vscode/
/.idea/1st_Semester_TEC2024-1.iml
/cmake-build-debug/
/CMakeLists.txt
/1st semester/F1004B/pyroclasts/Graphs